{{- /* Pulls from data/plugin_sml/params.toml to generate the social media links */ -}}
<div id="social-media-links">
  <div id="Micro.blog" class="sml-container">
    <a id="Micro.blog" 
       class="sml" 
       rel="me" 
       href="https://micro.blog/{{ site.Author.username }}">@{{ site.Author.username }}</a>
    <span id="Micro.blog" class="sml"> (Micro.blog)</span>
  </div>

  {{-  range site.Data.plugin_sml.params.Platforms }}
  {{ partial "profile/social-media-link.html" . }}
  {{- end }}
</div>