{{- /********************************************************
  Resolves theme and plugin data files to build a map of 
  parameter values and injects this map into the page scratch
  ***********************************************************/ -}}

{{- /************************************************
  Initialize variables with default parameter values
  to ensure every parameter has a map entry. 
  ***************************************************/ -}}

{{- $Config_Version := "" -}}
{{- $Config_DebugPrint := false -}}
{{- $Config_Fingerprint := true -}}
{{- $Config_SassOutput := "compact" -}}

{{- $Accounts_Platforms := slice -}}

{{- $Style_ContainerID := "social-media-link-container" -}}
{{- $Style_LinkClassName := "social-media-link" -}}
{{- $Style_LabelClassName := "social-media-link-label" -}}
{{- $Style_Container := "" -}}
{{- $Style_Link := "" -}}
{{- $Style_LinkHover := "" -}}
{{- $Style_Label := "" -}}


{{- /************************************************
  Override the default parameter values with values
  found in the plugin data files.
  ***************************************************/ -}}

{{- with site.Data.plugin_social_media_links -}}

{{- with .Config.Version }}{{ $Config_Version = . }}{{ end -}}
{{- if (isset .Config "DebugPrint") }}{{ $Config_DebugPrint = .Config.DebugPrint }}{{ end -}}
{{- if (isset .Config "Fingerprint") }}{{ $Config_Fingerprint = .Config.Fingerprint }}{{ end -}}
{{- with .Config.SassOutput }}{{ $Config_SassOutput = . }}{{ end -}}

{{- with .Accounts.Platforms }}{{ $Accounts_Platforms = . }}{{ end -}}

{{- with .Style.ContainerID }}{{ $Style_ContainerID = . }}{{ end -}}
{{- with .Style.LinkClassName }}{{ $Style_LinkClassName = . }}{{ end -}}
{{- with .Style.LabelClassName }}{{ $Style_LabelClassName = . }}{{ end -}}
{{- with .Style.Container }}{{ $Style_Container = . }}{{ end -}}
{{- with .Style.Link }}{{ $Style_Link = . }}{{ end -}}
{{- with .Style.LinkHover }}{{ $Style_LinkHover = . }}{{ end -}}
{{- with .Style.Label }}{{ $Style_Label = . }}{{ end -}}

{{- end -}} {{- /* with site.Data.plugin_social_media_links */ -}}

{{- /**********************************************
  Override the default/plugin parameter values with
  values found in the theme data file.
  *************************************************/ -}}

{{- with (index site.Data "plugin-social-media-links") -}}

{{- with .Config.Version }}{{ $Config_Version = . }}{{ end -}}
{{- if (isset .Config "DebugPrint") }}{{ $Config_DebugPrint = .Config.DebugPrint }}{{ end -}}
{{- if (isset .Config "Fingerprint") }}{{ $Config_Fingerprint = .Config.Fingerprint }}{{ end -}}
{{- with .Config.SassOutput }}{{ $Config_SassOutput = . }}{{ end -}}

{{- with .Accounts.Platforms }}{{ $Accounts_Platforms = . }}{{ end -}}

{{- with .Style.ContainerID }}{{ $Style_ContainerID = . }}{{ end -}}
{{- with .Style.LinkClassName }}{{ $Style_LinkClassName = . }}{{ end -}}
{{- with .Style.LabelClassName }}{{ $Style_LabelClassName = . }}{{ end -}}
{{- with .Style.Container }}{{ $Style_Container = . }}{{ end -}}
{{- with .Style.Link }}{{ $Style_Link = . }}{{ end -}}
{{- with .Style.LinkHover }}{{ $Style_LinkHover = . }}{{ end -}}
{{- with .Style.Label }}{{ $Style_Label = . }}{{ end -}}

{{- end -}} {{- /* with (index site.Data "plugin-social-media-links") */ -}}

{{- /* Prepend the Micro.blog account to the platforms slice. */ -}}
{{- $Accounts_Platforms = slice (dict "Name" "Micro.blog" "Username" site.Author.username "Href" "https://micro.blog/USERNAME") | append $Accounts_Platforms -}}

{{- /* Parse platforms into useable platform attributes. */ -}}
{{- $Accounts_ParsedPlatforms := slice -}}
{{- range $Accounts_Platforms -}}
  {{- if (and (and (and .Name .Href) .Username) (or .Server (not (in .Href "SERVER")))) -}}
  {{- $href := replaceRE "USERNAME" .Username .Href -}}
    {{- with .Server -}}
      {{- $href = $href | replaceRE "SERVER" . -}}
    {{- end -}}
    {{- $platform := dict "Name" .Name "Username" .Username "Href" $href -}}
    {{- $Accounts_ParsedPlatforms = $Accounts_ParsedPlatforms | append $platform -}}
  {{- end -}}
{{- end -}}

{{- /**************************************************
  Construct the intermediate maps (mostly for clarity).
  
  The map inserted into the page scratch will have the 
  following key structure:
  
  Config
  *********************************************************/ -}}

{{- /* Config */ -}}
{{- $Config := dict "Version" $Config_Version "DebugPrint" $Config_DebugPrint "Fingerprint" $Config_Fingerprint "SassOutput" $Config_SassOutput -}}

{{- /* Accounts */ -}}
{{- $Accounts := dict "Raw" $Accounts_Platforms "Platforms" $Accounts_ParsedPlatforms -}}

{{- /* Style */ -}}
{{- $Style := dict "ContainerID" $Style_ContainerID "LinkClassName" $Style_LinkClassName "LabelClassName" $Style_LabelClassName "Container" $Style_Container "Link" $Style_Link "LinkHover" $Style_LinkHover "Label" $Style_Label -}}

{{- /* Parameters */ -}}
{{- $Parameters := dict "Config" $Config "Accounts" $Accounts "Style" $Style -}}

{{- /********************************************
  Insert the parameter map into the page scratch.
  ***********************************************/ -}}

{{- .Scratch.Set "plugin-social-media-links.Parameters" $Parameters -}}