{{- if not (.Scratch.Get "plugin-social-media-links.Parameters") -}}
  {{- partial "plugin-social-media-links/load-parameters.html" . -}}
{{- end -}}

{{ with .Scratch.Get "plugin-social-media-links.Parameters" -}}

<div id="{{ .Style.ContainerID }}" class="p-role">

{{- $linkClass := .Style.LinkClassName -}}
{{- $labelClass := .Style.LabelClassName -}}

{{- range .Accounts.Platforms -}}

<a id="{{ .Name }}" class="{{ $linkClass }}" rel="me" href="{{ .Href | safeHTMLAttr }}">@{{ .Username }}</a>
<span id="{{ .Name }}" class="{{ $labelClass }}"> {{ .Name }}</span>

{{- end -}}

</div>

{{- end }}